<!DOCTYPE html>
<html>
  <head>
    <title>Create a New Workout</title>
  </head>
  <body>
    <h1>Create a New Workout</h1>
    <form>
      <label for="workout-name">Workout Name:</label>
      <input type="text" id="workout-name" name="workout-name"><br><br>
      <label for="exercise-name">Exercise Name:</label>
      <input type="text" id="exercise-name" name="exercise-name"><br><br>
      <label for="reps">Reps:</label>
      <input type="text" id="reps" name="reps"><br><br>
      <label for="sets">Sets:</label>
      <input type="text" id="sets" name="sets"><br><br>
      <input type="submit" value="Save Workout">
    </form>
    <a href="/">Back to Homepage</a>
  </body>
</html>
